<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>채식숲</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
        <div class="logo">
            <!--로고사진 수정필요-->
            <img src="logo.jfif" alt="로고" style="width: 100%; height: 200px;">
        </div>
        <div class="wrapper">
            <div class="menu">
                <button class="menu" id="01">서울 채식 지도</button>
                <button class="menu" id="02">검색</button>
                <button class="menu" id="03">채식의 종류</button>
            </div>

            <form action="{{ url_for('shop_region') }}" method="post">
                <button name="region" type="submit" value="도심권" class="district" id="dosim">도심권</button>
                <button name="region" type="submit" value="동남권" class="district" id="dongnam">동남권</button>
                <!--서초구,강남구,송파구,강동구-->
                <button name="region" type="submit" value="서남권" class="district" id="seonam">서남권</button>
                <!--양천구,강서구,구로구,금천구,영등포구,동작구,관악구-->
                <button name="region" type="submit" value="서북권" class="district" id="seobook">서북권</button>
                <!--은평구,서대문구,마포구-->
                <button name="region" type="submit" value="동북권" class="district" id="dongbook">동북권</button>
                <!--성북구,광진구,동대문구,중랑구,성북구,강북구,도봉구,노원구-->
            </form>
            <div class="detail">
                <!--클릭시 나오는 탭(js로 toggle구현)-->
                <div class="a" style="display: none;">
                    <!--도심권 line22-->
                    <form action="{{ url_for('shop_guname') }}" method="post">
                    <button name="guname" type="submit" value="종로구" class="detailgu" id="jongno-gu">종로구</button>
                    <!--각각 버튼 클릭시 위치표시될 수 있게-->
                    <button name="guname" type="submit" value="중구" class="detailgu" id="jung-gu">중구</button>
                    <button name="guname" type="submit" value="용산구" class="detailgu" id="yongsan-gu">용산구</button>
                    </form>
                </div>
                <div class="b" style="display: none;">
                    <form action="{{ url_for('shop_guname') }}" method="post">
                        <button name="guname" type="submit" value="서초구" class="detailgu" id="seocho-gu">서초구</button>
                        <button name="guname" type="submit" value="강남구" class="detailgu" id="gangnam-gu">강남구</button>
                        <button name="guname" type="submit" value="송파구" class="detailgu" id="songpa-gu">송파구</button>
                        <button name="guname" type="submit" value="강동구" class="detailgu" id="gangdong-gu">강동구</button>
                    </form>
                </div>
                <div class="c" style="display: none;">
                    <form action="{{ url_for('shop_guname') }}" method="post">
                        <button name="guname" type="submit" value="양천구" class="detailgu" id="yangcheon-gu">양천구</button>
                        <button name="guname" type="submit" value="강서구" class="detailgu" id="gangseo-gu">강서구</button>
                        <button name="guname" type="submit" value="구로구" class="detailgu" id="guro-gu">구로구</button>
                        <button name="guname" type="submit" value="금천구" class="detailgu" id="geumcheon-gu">금천구</button>
                        <button name="guname" type="submit" value="영등포구" class="detailgu" id="yeongdeungpo-gu">영등포구</button>
                        <button name="guname" type="submit" value="동작구" class="detailgu" id="dongjak">동작구</button>
                        <button name="guname" type="submit" value="관악구" class="detailgu" id="gwanak-gu">관악구</button>
                    </form>
                </div>
                <div class="d" style="display: none;">
                    <form action="{{ url_for('shop_guname') }}" method="post">
                        <button name="guname" type="submit" value="은평구" class="detailgu" id="eunpyeong-gu">은평구</button>
                        <button name="guname" type="submit" value="서대문구" class="detailgu" id="seodaemun-gu">서대문구</button>
                        <button name="guname" type="submit" value="마포구" class="detailgu" id="mapo-gu">마포구</button>
                    </form>
                </div>
                <div class="e" style="display: none;">
                    <form action="{{ url_for('shop_guname') }}" method="post">
                        <button name="guname" type="submit" value="성동구" class="detailgu" id="seongdong-gu">성동구</button>
                        <button name="guname" type="submit" value="광진구" class="detailgu" id="gwangjin-gu">광진구</button>
                        <button name="guname" type="submit" value="동대문구" class="detailgu" id="dongdaemun-gu">동대문구</button>
                        <button name="guname" type="submit" value="중랑구" class="detailgu" id="jungnang-gu">중랑구</button>
                        <button name="guname" type="submit" value="성북구" class="detailgu" id="seongbuk-gu">성북구</button>
                        <button name="guname" type="submit" value="강북구" class="detailgu" id="gangbuk-gu">강북구</button>
                        <button name="guname" type="submit" value="도봉구" class="detailgu" id="dobong-gu">도봉구</button>
                        <button name="guname" type="submit" value="노원구" class="detailgu" id="nowon-gu">노원구</button>
                    </form>
                </div>
            </div>
            <p>지도</p>
           
            <div>
            {% if datas %}
                <h3>{{ region }}가게 리스트</h3>
                <ul>
                    {% for data in datas %}
                        <li>
                            <h4>상호명:{{ data['상호명'] }}</h4>
                        </li>
                        <li>
                            <p>업종:{{ data['업종'] }}</p>
                        </li>
                        <li>
                            <p>자치구:{{ data['자치구'] }}</p>
                        </li>
                        <li>
                            <p>도로명주소:{{ data['도로명주소'] }}</p>
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>
                    현재 검색 가능 권역</h3>
                <ul>
                    {% for reg in['동남권', '동북권', '도심권', '서북권', '서남권'] %}
                        <li>{{ reg }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>

            <div>
                {% if gudatas %}
                    <h3>{{ guname }}가게 리스트</h3>
                    <ul>
                        {% for data in gudatas %}
                            <li>
                                <h4>상호명:{{ data['상호명'] }}</h4>
                            </li>
                            <li>
                                <p>업종:{{ data['업종'] }}</p>
                            </li>
                            <li>
                                <p>자치구:{{ data['자치구'] }}</p>
                            </li>
                            <li>
                                <p>도로명주소:{{ data['도로명주소'] }}</p>
                            </li>
                            <hr>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>

        </div>
        <script src="../static/js/script.js"></script>
    </body>
</html>