.logo {

    margin-top: 0;
    padding-top: 0;
}

form{
    display: inline-block;
}

.tap {
    margin-top: 20px;
    margin-left: 15%;
    border: solid 1px grey;
    border-radius: 20px;
    width: 70%;
}

.menu-0, .menu-1, .menu-2, .menu-3, .menu-4 {
    width: 20%;
    height: 50px;
    margin-right: -6px;
}

.menu button {
    border: 1px solid bisque;
    background-color: bisque;
}

.menu button:hover {
    color: white;
    background-color: black;
}

.menu-map button {
    border: 1px solid grey;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 70px;
    height: 40px;
}
